.top-banner {
  height: 400px;
  position: relative;
}
.top-banner h1,
.top-banner p {
  position: absolute;
  left: 18.75%;
}
.top-banner h1 {
  top: 136px;
  font-size: 44px;
  font-weight: bold;
}
.top-banner p {
  top: 222px;
  font-size: 22px;
  font-weight: 300;
}
.top-banner .swiper-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.product {
  background-color: #F7F9FA;
  padding: 50px 0 100px;
}
.product-list {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding-inline-start: 0;
}
.product-item {
  width: 278px;
  box-shadow: 0px 8px 16px 0px rgba(247, 249, 250, 0.7);
  margin-right: 29px;
  margin-bottom: 50px;
}
.product-item a:hover,
.product-item a:visited,
.product-item a:link,
.product-item a:active {
  color: inherit;
  text-decoration: none;
}
.product-item:nth-child(4n) {
  margin-right: 0;
}
.product-item-pic img {
  width: 100%;
  transition: transform 1s;
}
.product-item-pic:hover img {
  transform: scale(1.05);
}
.product-item-info {
  background-color: #fff;
  padding: 20px;
}
.product-item-info-title {
  font-size: 16px;
  font-weight: 400;
  color: #232628;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-item-info-desc {
  margin-top: 4px;
  min-height: 36px;
  line-height: 18px;
  font-size: 12px;
  color: #71797F;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.product-item-info-ft {
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.product-item-info-price {
  color: #FF734C;
  font-weight: 500;
  font-size: 24px;
}
.product-item-info-price:before {
  content: "￥";
  display: inline-block;
  font-size: 1em;
}
.product-item-info-limit {
  display: inline-block;
  margin-left: 7px;
  padding: 0 3px;
  border: 1px solid #ff734c;
  color: #FF734C;
  font-size: 14px;
  font-weight: 400;
}
.product-item-info .addshopcar {
  position: absolute;
  right: 0;
}
.product-item-info .addshopcar .iconfont-buy {
  font-size: 32px;
}
.contact {
  position: fixed;
  width: 220px;
  height: 410px;
  top: 50%;
  right: 34px;
  margin-top: -205px;
  background: #ff734c;
  border-radius: 16px;
  padding: 28px 22px 33px;
  color: #fff;
  font-size: 14px;
  z-index: 999;
}
.contact .title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}
.contact .separate {
  margin-top: 12px;
  width: 180px;
  height: 2px;
  background: #ffa802;
  margin-bottom: 22px;
}
.contact .contact_methods {
  margin-bottom: 20px;
}
.contact .contact_methods .iconfont {
  font-size: 16px;
  color: #fff;
  margin-right: 8px;
}
.contact .qr_code {
  text-align: center;
}
.contact .qr_code img {
  width: 124px;
}
.contact .code_tip {
  margin-top: 12px;
  text-align: center;
}
